.left {float: left;
}
.right{float:right;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
/* hello */
.line {display: inline;}
li {display: inline;color: red}
ul{display: inline;}
.redbackground{background-color: red}
.salmonbackground {background-color: salmon; padding: 25px; font-size: 26px; text-align: center; color:black;}
a {padding: 5px; background: white; border-radius: 6px; color: salmon}
.inline_33 {display:inline-block; width:33%; }
h1{font-size: 25px}
footer{padding: 10px;}
.inline_split{display: inline-block;width: 50%}
